body {
  background-color: rgb(224, 224, 224)
}

.header {
  padding-top: 10px;
}

img.responsive-img {
  margin-right: 10px;
}
/*#a_coustom {
  text-decoration:none;
}
*/
#post-body {
  height: 250px;
}
#logout {
	text-decoration:none;
}