<template name="posts_list">
  <div class="Containers">
    {{#each posts}}
    <div class="card-panel ">
      <a href="posts/{{_id}}" id="a_coustom"><h2 class="teal-text text-darken-2">{{ title }}</h2></a>
      <p style="font-size:18px"> {{{summary}}}... <a href="posts/{{_id}}" class="teal-text text-darken-2">详细</a></p>
      <div class="row" style="text-align:right">
       <div class="col" style="text-align:right"><h5 class="teal-text text-darken-2" >{{formatDate publishedOn }}</h5></div>
       <div class="col" style="text-align:right"><h5 class="teal-text text-darken-2" >作者:{{ authorName }}</h5></div>
     </div>
   </div>
   {{/each}}
 </div>
</template>