<template name="post_edit">
  {{> navbar}}  
  <div class="Containers">
    <div class="card-panel">
      <h2 class="teal-text text-darken-2">{{title}}</h2>
      <ul class="breadcrumb" style="margin-bottom: 5px;">
        <li><h5 class="teal-text text-darken-2"><strong>作者:</strong> {{ authorName }}</h5></li>
        <li><h5 class="teal-text text-darken-2"><strong>最后一次更新:</strong> {{formatDate publishedOn }}</h5>
        </li>
      </ul>
      <div class="grid grid-module" style="background:#fff">
        {{> quickForm collection="Posts" doc=this id="postEditForm" template="telescope" label-class="control-label" input-col-class="controls" type="method-update" meteormethod="postEdit"}}
    </div>

    <div class="grid grid-module">
        <a class="btn btn-danger delete" href="#">删除文章</a>
    </div>
      <!-- <form name="new-post" id="new-post">
        <div class="row">
          <div class="col s5">
            <div class="input-field">
              <input id="post-title" type="text" name="title" class="validate" placeholder="Title" required>
            </div>
          </div>
          <div class="col s5">
            <div class="input-field">
              <input id="post-slug" type="text" name="slug" class="validate" placeholder="Slug">
            </div>
          </div>
        </div>
        <div class="input-field col s12">
          <textarea id="post-body" name="body" class="materialize-textarea" placeholder="Body" required></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="submit-post">保存
          <i class="mdi-content-send right"></i>
        </button>
      </form> -->
      <h5 class="red-text text-darken-2">{{ error }}</h5>
    </div>

  </div>
</template>