<template name="post_single">
  {{> navbar}}
  
  <div class="Containers">
    <div class="jumbotron">
    <ul class="breadcrumb" style="margin-bottom: 5px;">
      <h3 class="teal-text text-darken-2" style="main-height:30px;text-align:center;width:100%;word-break:break-all">{{ title }}</h3>
    </ul> 
    <ul class="breadcrumb" style="margin-bottom: 5px;">
      <li style="text-align:center;width:100%"><h5 class="teal-text text-darken-2" style="height:30px;line-height:30px;text-align:center;width:100%"><strong>作者:</strong> {{ authorName }}<strong style="margin-left:30px">最后一次更新:</strong> {{formatDate publishedOn }}</h5></li>
    </ul> 
      <p style="font-size:18px">{{{ body }}}</p>
      {{#if currentUser}}
      {{#if isPostAuthor authorId}}
      <a href="/admin/edit/{{_id}}" class="btn btn-primary">编辑</a>
      {{/if}}
      {{/if}}
      <hr />
      {{> comments}}
    </div>
  </div>
</template>