<template name="post_single">
  {{> navbar}}
  
  <div class="container">
    <div class="card-panel">
      <h2 class="teal-text text-darken-2">{{ title }}</h2>
      <h5 class="teal-text text-darken-2">作者: {{ authorName }}</h5>
      <h5 class="teal-text text-darken-2">{{formatDate publishedOn }}</h5> 
      <p>{{{ body }}}</p>
      {{#if currentUser}}
        {{#if isPostAuthor authorId}}
          <a href="/admin/edit/{{_id}}" class="btn btn-primary">编辑</a>
        {{/if}}
      {{/if}}
      <hr />
      {{> comments}}
    </div>
  </div>
</template>