<template name="post_single">
  {{> navbar}}
  
  <div class="Containers">
    <div class="card-panel">
      <h2 class="teal-text text-darken-2">{{ title }}</h2>
      <ul class="breadcrumb" style="margin-bottom: 5px;">
        <li><h5 class="teal-text text-darken-2"><strong>作者:</strong> {{ authorName }}</h5></li>
        <li><h5 class="teal-text text-darken-2"><strong>最后一次更新:</strong> {{formatDate publishedOn }}</h5>
        </li>
      </ul> 
      <p style="font-size:18px">{{{ body }}}</p>
      {{#if currentUser}}
      {{#if isPostAuthor authorId}}
      <a href="/admin/edit/{{_id}}" class="btn btn-primary">编辑</a>
      {{/if}}
      {{/if}}
      <hr />
      {{> comments}}
    </div>
  </div>
</template>