<template name="posts_list">
  <div class="container">
    {{#each posts}}
      <div class="card-panel ">
        <a href="posts/{{_id}}" id="a_coustom"><h2 class="teal-text text-darken-2">{{ title }}</h2></a>
        <p> {{{summary}}}... <a href="posts/{{_id}}" class="teal-text text-darken-2">详细</a></p>
        <div class="row">
	      <div class="col s4"><h5 class="teal-text text-darken-2" >{{formatDate publishedOn }}</h5></div>
	      <div class="col s4"><h5 class="teal-text text-darken-2" >作者:{{ authorName }}</h5></div>
	    </div>
      </div>
    {{/each}}
  </div>
</template>