<template name="admin">
  {{> navbar}}
  <div class="container">
      <div class="card-panel">
        <h5 class="red-text text-darken-2">{{ error }}</h5>
        <table class="striped bordered">
          <thead>
            <tr>
              <th>标题</th>
              <th>作者</th>
              <th>日期</th>
              <th>详细内容</th>
            </tr>
          </thead>
          <tbody>
            {{#each posts}}
            <tr>
              <td>{{ title }}<br /><a href="/admin/edit/{{slug}}">编辑</a> <a href="/posts/{{slug}}">查看</a> <a href="#" data="{{_id}}" class="red-text" id="delete">删除</a></td>
              <td><div>{{ authorName }}</div></td>
              <td><div>{{ formatDate publishedOn }}</div></td>
              <td>{{{ summary }}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4 class="red-text">Delete Post</h4>
        <p>Are you sure you really want to delete this post?</p>
        <p>This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat confirm">Yes</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat confirm">No</a>
      </div>
    </div>
  </div>
</template>