<template name="about">
  {{> navbar}}

 <div id="blog-hero" class="">
	  <div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; -webkit-background-size: cover; background-image: url(https://d1oyuxnsvvtuwc.cloudfront.net/strap-hero-poster.jpg); background-size: cover; background-position: 100% 0%; background-repeat: no-repeat;">
		  <video autoplay="" loop="" style="visibility: visible; padding: 0px; margin: 0px; position: absolute; z-index: -1; top: 0%; left: 100%; -webkit-transform: translate(-100%, 0%); transform: translate(-100%, 0%); width: 100%; height: 100%;">
			  <source src="https://d1oyuxnsvvtuwc.cloudfront.net/strap-hero-poster.mp4" type="video/mp4">
			  <source src="https://d1oyuxnsvvtuwc.cloudfront.net/strap-hero-poster.webm" type="video/webm">
				<source src="https://d1oyuxnsvvtuwc.cloudfront.net/strap-hero-poster.ogv" type="video/ogv">
				</video>
  	</div>
 </div>
  <!-- <div class="container">
    <div class="card-panel">
      <h4 class="blue-text text-darken-2">关于</h4>
      <p>This is the about page. Enter you information here.</p>
    </div>
  </div> -->
<!--   {{> footer}}
 --></template>
