<template name="footer">
  <footer class="page-footer blue-grey lighten-3">
    <div class="container">
      <div class="row">
        <div class="s12 center">
          <h5 class="white-text">郭友进的技术博客博客</h5>
          <!-- <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        © 2015 Meteor guoyoujin
      </div>
    </div>
  </footer>
</template>