<template name="footer">
  <footer class="page-footer blue-grey lighten-3" style="position:relative; bottom:0; right:0;">
    <div class="container">
      <div class="row">
        <div class="s12 center">
          <a href="#" target="_blank">关于网站</a>|<a href="guoyoujin123@gmail.com" target="_blank">联系我</a> |  
            <a href="#" target="_blank">版权声明</a> 
            <br>
            本站部分文章、资源来自互联网，版权归原作者及网站所有，如果侵犯了您的权利，请及时致信告知我站.<br>
            版权声明：凡文章来源注明为本站的文章、图片、视频等信息，请在转载时保留本站链接。<br>
            © 2014-2015 <strong><a href="#">郭友进个人网站</a> </strong>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        <a href="http://www.miitbeian.gov.cn/" target="_blank">鲁ICP备15002863号</a>
      </div>
    </div>
  </footer>
</template>