<template name="markdown">
  {{> navbar}}  
  <div class="container-fluid main">
    <form name="new-post" id="new-post">
      <div style="min-height:600px">
        <main class="editor" style="margin-top:15px">
          <section class="entry-container">
            <header>
              <section class="box entry-title">
                <input id="post-title" class="" placeholder="标题" tabindex="1" type="text" name="title" required style="width:50%;height:100%">
                <input id="post-title" class="" placeholder="标题" tabindex="1" type="text" name="slug" required style="width:50%;position:absolute;right:0;height:100%">
              </section>
            </header>
            {{> GhostEditor}}
            <div style="position:absolute;bottom:0px;width:100%;margin-left: auto;margin-right: auto;">
              <button class="btn btn-primary" type="button" name="submit-post" style="margin-left:auto;margin-right:auto;width:100%">确定
              </button>
            </div>
          </section>
        </main>
      </div>
    </form>
    <h5 class="red-text text-darken-2">{{ error }}</h5>
  </div>
  <!-- <div class="container">
     <div class="grid grid-module">
        {{> quickForm collection="Posts" id="postInsertForm" template="telescope" type="method" meteormethod="postInsert" template="bootstrap3-horizontal"}}
    </div>
  </div> -->

</template>
