<template name="navbar">
<div class="navbar navbar-default navbar-fixed-top sample shadow-z-2" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color:white">天青色等烟雨</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse" >
        <ul class="nav navbar-nav" style="background:#009688;">
          <li><a href="/" id="a_coustom" class="btn-primary" style="color:white">首页</a></li>
          <li class="divider"></li>
          <li><a href="/admin/te_down_post_new" id="a_coustom" class="btn-primary" style="color:white">添加博客</a></li>
          <li class="divider"></li>
          <li><a href="/contact" id="a_coustom" class="btn-primary" style="color:white">联系我</a></li>
          <li class="divider"></li>
          <li><a href="/markdown" id="a_coustom" class="btn-primary" style="color:white">markDown</a></li>
          <li class="divider"></li>
          <li><a href="/about" id="a_coustom" class="btn-primary" style="color:white">关于我</a></li>
        </ul>
        <form class="navbar-form navbar-left" style="background:#009688;">
            <input type="text" class="form-control col-lg-8" placeholder="Search" style="background:#009688;">
        </form>
      <ul class="nav navbar-nav navbar-right" style="background:#009688;">
            <li class="">
              {{#if is_login}}
              <a href='/admin' data-target="#" class="dropdown-toggle btn-primary" data-toggle="dropdown" style="color:white">欢迎您, {{currentUser.profile.name}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li><a href="/admin" id="a_coustom" style="color:#009688;">博客列表</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/new-post" id="a_coustom" style="color:#009688;">添加博客</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/add-new-user" id="a_coustom" style="color:#009688;">添加用户</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/users" id="a_coustom" style="color:#009688;">用户列表</a></li>
                  <li class="divider"></li>
                  <li><a href="#" id="logout" style="color:#009688;">退出</a></li>
              </ul>
            {{else}}
              <a href='/admin' data-target="#" class="btn-primary" style="color:white">
                您好，请先登陆
              </a>
             {{/if}}
            </li>
        </ul>
    </div>
</div>



  <!-- <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal accent-5">
        <form id = "search">
          <div class="input-field left">
            <input id="search" type="search" name="search" required>
            <label for="search"><i class="mdi-action-search"></i></label>
            <i class="mdi-navigation-close"></i>
          </div>
          </form>
        <ul  class="side-nav teal accent-5 left" id="mobile-demo">
          <li><a href="/" id="a_coustom">首页</a></li>
          <li><a href="/admin/te_down_post_new" id="a_coustom">添加博客</a></li>
          <li><a href="/about" id="a_coustom">关于</a></li>
          <li><a href="/contact" id="a_coustom">联系我</a></li>
          <li><a href="/markdown" id="a_coustom">markDown</a></li>
          <li>
            {{#if is_login}}
            <a  class='dropdown-button' data-beloworigin="true" href='#' data-activates='dropdown1' style="text-decoration:none;" id="dropdown-button">
            <i class="mdi-navigation-arrow-drop-down right"></i>
              欢迎您, {{currentUser.profile.name}}
              <ul id='dropdown1' class='dropdown-content'>
                <li class="divider"></li>
                <li><a href="/admin" id="a_coustom">博客列表</a></li>
                <li class="divider" id="a_coustom"></li>
                <li><a href="/admin/new-post">添加博客</a></li>
                <li class="divider" id="a_coustom"></li>
                <li><a href="/admin/add-new-user" id="a_coustom">添加用户</a></li>
                <li class="divider" id="a_coustom"></li>
                <li><a href="/admin/users" id="a_coustom">用户列表</a></li>
                <li class="divider"></li>
                <li><a href="#" id="logout" >退出</a></li>
                </ul>
            </a>
           {{else}}
           <a  class='dropdown-button' data-beloworigin="true" href='/admin' data-activates='dropdown1' id="dropdown-button" >
           <i class="mdi-navigation-arrow-drop-down right"></i>您好，请先登陆</a>
           {{/if}}
          </li>
        </ul>
        <div >
          <a href="/" class="brand-logo"  style="font-size:18px;" id="a_coustom">天青色等烟雨</a>
          <ul id="nav-wrapper" class="right hide-on-med-and-down ">
            <li><a href="/" id="a_coustom">首页</a></li>
            <li><a href="/admin/te_down_post_new" id="a_coustom">添加博客</a></li>
            <li><a href="/about" id="a_coustom">关于</a></li>
            <li><a href="/contact" id="a_coustom">联系我</a></li>
            <li><a href="/markdown" id="a_coustom">markDown</a></li>
            <li>
              {{#if is_login}}
              <a  class=' dropdown-button' data-beloworigin="true" href='#' data-activates='dropdown1' style="text-align: right;text-decoration:none;" id="dropdown-button">
              <i class="mdi-navigation-arrow-drop-down right"></i>
                  欢迎您, {{currentUser.profile.name}}
                  <ul id='dropdown1' class='dropdown-content'>
                    <li class="divider"></li>
                    <li><a href="/admin" id="a_coustom">博客列表</a></li>
                    <li class="divider"></li>
                    <li><a href="/admin/new-post" id="a_coustom">添加博客</a></li>
                    <li class="divider"></li>
                    <li><a href="/admin/add-new-user" id="a_coustom">添加用户</a></li>
                    <li class="divider"></li>
                    <li><a href="/admin/users" id="a_coustom">用户列表</a></li>
                    <li class="divider"></li>
                    <li><a href="#" id="logout">退出</a></li>
                  </ul>
              </a>
             {{else}}
             <a  class='dropdown-button' data-beloworigin="true" href='/admin' data-activates='dropdown1' id="dropdown-button">
                  您好，请先登陆
             </a>
             {{/if}}
            </li>
          </ul>
          <a href="#" data-activates="mobile-demo" class="button-collapse" style="position:relative;float:right;" id="a_coustom"><i class="mdi-navigation-menu"></i></a>
        </div>
      </div>
    </nav>
  </div> -->
</template>